* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  /* background: url(/bgimg.jpg); */
}
body {
  /* display: flex; */
  height: 100vh;
  padding: 0px;
  /* justify-content: center; */

  /* background: url(bgimg.jpg); */
  background: url(/bgimg.jpg);
  align-items: center;
}
.container {
  max-width: 700px;
  width: 200%;
  height: 400px;
  margin: 40px 400px 23px;
  /* background: rgba(244, 242, 242, 0.911); */
  border-radius: 5px;
  padding: 25px, 30px;
  box-shadow: 2px 4px 4px rgb(247, 246, 249);
  backdrop-filter: blur(10px);
}
.container form .main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container form .main-user-info .user-input-box {
  width: calc(100% / 2 - 20px);
}
.main-user-info .user-input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.container form .user-input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(243, 242, 242);
  /* box-shadow: 2px 2px 2px white; */
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 2px;
}
.container form .user-input-box input:focus,
.container form .user-input-box input:valid {
  /* border-color: cyan; */
}

.user-input-box.hover {
  color: aqua;
}
.user-input-box {
  padding: 41px 31px 8px;
  color: white;
  /* border: 2px solid whitesmoke; */
  border-radius: 5px;
}
.main-user-info {
  /* border: 2px solid whitesmoke;
  border-radius: 5px; */
}
.button {
  border: 2px solid;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  /* margin-top: 10px; */
  /* height: 25px; */
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(95, 94, 94);
  margin-left: 640px;
  background: white;
  font-weight: bold;
  cursor: pointer;

  /* margin: auto; */
}
h2 {
  /* align-items: center; */
  margin: auto;
  width: 180px;
  text-align: center;
}
.user-details {
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.navbar {
  font-family: sans-serif;
  /* background-color: rgba(7, 24, 121, 0.989); */
  padding: 5px 5px;
  height: 60px;
  /* margin: auto; */
  border-radius: 5px;
  border-color: #da7c1d;

  /* display: inline-block; */
}
.navbar li {
  float: left;
  list-style: none;
  padding: 3px 3px;
  /* justify-content: space-between; */
}
.navbar li a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 9px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover {
  background-color: rgb(34, 75, 145);
  border-radius: 5px;
}
.navbar li a:hover:focus {
  background-color: #2f4aac;
}

.search {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  padding: 10px 10px;
  transition-duration: 500ms;
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 15px;
  color: transparent;
  border: 1px solid white;
  overflow: hidden;
  background: url("https://img.icons8.com/2266EE/search") no-repeat transparent;
  background-size: 20px;
  background-position: 45% 50%;
  /* justify-content: end; */
  float: right;
}
.search:hover {
  cursor: pointer;
  border: 1px solid #2f4aac;
  background-size: 2px;
  background-position: 45% 50%;
  background: url("https://img.icons8.com/2266EE/search") no-repeat transparent;
}
.search:focus {
  width: 200px;
  cursor: pointer;
  padding-left: 40px;
  color: white;
  outline: none;
  border: 1px solid #f5f2f0;
  background-color: transparent;
  background: url("https://img.icons8.com/2266EE/search") no-repeat transparent;
  background-size: 22px;
  background-position: 10px 50%;
}
